body {
	background-image: url("");
	font-family: "Avenir", Arial, sans-serif;
	color:#0088CE;


}

#footer {
	background-color:black;
	color: #aaaaaa;
	padding-top: 2em;
	padding-bottom: 2em;
}

#wrapper {
	background-image: url("../images/fond.jpg");
	height: 800px; 
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color:white;
	text-shadow: 2px 2px 5px rgba(0,0,0.5);
}



#wrapper h1 {

	font-size : 70px ;
	margin-bottom: 0.5em;
}

#wrapper h2 {
	font-size: 35px;
	margin-top: 2em;
	
}

.spacer {
	height: 6em;
}

.spacer1 {
	height: 3em;
}

.spacer2 {
	height: 1em;
}

.spacer3 {
	height: 23.8em;
}

.spacer4 {
	height: 0.5em;
}

.feature p {
	font-weight: 300;
	letter-spacing: 2px;

}

.feature img {
	margin-bottom: 2em;
}

.navbar-transparent {
	background-color:rgba(0,0,0,0.4);
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 20px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.logo {
	border-radius: 60%
}




 .tableau {display: table;border-spacing: 0.5rem;border-collapse: collapse;}
  .cellule {display: table-cell;padding: 0.5rem; border: 3px solid #999;}
  .ligne {display: table-row;}
  /* Quelques sélecteurs */
  .ligne:nth-child(odd) {background: #e5f1f4;}
  .ligne:nth-child(even) {background: #f8fbfc;}
  .ligne:hover {background: #ecfbd4;cursor:pointer;} 
  .col {display: table-column;}
  .corp {display: table-row-group}
  .colgroupe {display: table-column-group;}
  .pied {display: table-footer-group;font-weight:bold;background-color:#eee;}
  .tete {background-color:#4a98af;color:#ffffff;display: table-header-group;font-weight:bold;text-align:center;}
  .legende {display: table-caption;caption-side: top;background-color:#eee; font-size: 1.5em}
 








